.container{
	max-width: 1200px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myTab {
	width: 14%; 
	justify-content: center;
	text-decoration: unset;
}
.center {
	justify-content: center;
	align-items:center;
 	text-align:center;
	vertical-align: middle;
}
.iframe{
  /*width: 100vw;*/
  height: calc(100vw/3);
}
.type1{
	margin-top: 35px;
	font-size: 17px;
	font-family: monospace;
}
.type2{
	border: solid 1px;
	padding: 2px;
	margin-right: 17px;
	font-family: monospace;
}
.type3{
	border: solid 1px;
	padding: 2px;
	margin-left: 10px;
	font-family: monospace;
}
.logo{
	position: relative;
}
.image1{
	margin-top: 25px;
}
.bg_menu{
	background-color: black;
	padding: 10px 0;
	color: white;
	font-size: 24px;
	flex-direction: row;
	text-align: center;
	font-family: monospace;
	flex-direction: row;
}
.type5{
	padding: 10px;
	font-size: 24px;
	color: white;
	display: inline-flex;
	flex-wrap: wrap;
}
.hov{	
	padding-bottom: 5px;
	border-bottom: 1px solid transparent;
	transition: all 0.4s;
	flex-wrap: wrap;
}
.hov:hover{
	border-bottom: 2px solid yellow;
	color: red;
}
.hov:target{
	border-bottom: 2px solid yellow;
	color: red;
}
.txt{
	margin:0px 10px;
	color: grey;
	text-align:left;
	font-size: 15px;
	font-family: Arial;
}
.txt2{
	color: yellow;
	font-size: 20px;
	padding: 10px;
}
.txt3{
	color: white;
	font-size: 15px;
	padding: 10px;
}
.txt4{
	color: white;
	margin-bottom: 15px;
}
.type6{
	font-size: 35px;
	font-family: Calibri;
}
.type7{
	font-size: 25px;
	font-family: Calibri;
}
.type8{
	font-size: 17px;
	font-family: Calibri;
}
.type9{
	font-size: 20px;
	font-family: Calibri;
}
.type9{
	padding-top: 50px;
}
.bg3{
	background-image: url("images/img9.jpg");
	height: 490px;
	width: 100%;
}
.bg4{
	padding-top: 50px;
}
.type14{
	padding-top: 28px;
	padding-right: 40px;
	padding-bottom: 25px;
}
.type15{
	text-align: center;
	padding-bottom: 35px;
	padding-top: 20px; 
	padding-right: 40px;
	padding-left: 40px;
}
.type16{
	padding-top: 10px; 
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 35px;
}
.bg{
	border-right: solid 1px; 
	height: 250px;
}
.image{
	margin-left: 10px;
	margin-right: 10px;
}
.row {
	width: 700px;
	font-size: 15px;
}
.vien{
	border-right: solid 1px;
}
@media(max-width: 480px){
	.bg{ 
		border:none;
	}
	.type1{
		margin-left: auto;
	}
	.image1{
		margin-right: auto;
	}
	.form{
		margin-top: 10px;
		margin-bottom: 10px;
		width: 40%;
		margin-left:30%;
		margin-right:30%;
	}
	.bg4{
		font-size: 15px;
	}
	.type14{
		padding-top: 30px;
		padding-bottom: 5px;
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;
	}
	.type15{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.type16{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.image{
		margin-left: 2px;margin-right: 2px;
	}
}